body {
    background-color: lightgray;
    height: 100vh;
    font-family: Arial;
}

.card { 
    background-color: white;
    margin: 5%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5) , -2px -2px 5px rgba(0,0,0,0.5);
    padding : 10px 15px 10px 15px ; 
}

.items {
    display: flex;
    align-items: center;
    gap : 1em;
}

.items p {
    font-weight:  bold;
}

.items i {
    color : red;
    padding : 10px;
    background-color : #ff000020;
    border-radius: 5px;
}

.icon-containers {
    display:  flex;
    gap : 1em;
    justify-content: flex-start;
    align-items: center;
}


.color-container {
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom : 1em;
    padding : 1em;
}

.left {
    display:  flex;
    align-items: center;
    gap : 5px;
    padding : 5px 10px 5px 10px ;
}

.custom-button {
    font-size: 20px;
    color : white;
    background-color: navy;
    border-color: transparent;
    border-radius: 5px;
    padding-left : 1em;
    padding-right: 1em;
}


.custom-button:hover {
    background-color: green;
}